.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}
body {
 background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
}
.github a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.github a:hover {
  color: #3dd5f3;
}

.container {
  padding: 20px 1px;
  margin: 50px auto;
  border: black 2px solid;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rowdies', cursive;
  background-color: #e5f2f7;
  position: relative;
  max-width: 800px;
}

.current-temp {
  font-size: 70px;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.forecast {
  position: relative;
  margin-top: 5px;
}

.days {
  text-decoration: none;
  text-align: center;
  color: #5a6275;
}

.temp-days {
  text-decoration: none;
  text-align: center;
  color: #5a6275;
}

.weather-symbols {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}
.celsius {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #3dd5f3;
}
.fahrenheit {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #3dd5f3;
}
.fahrenheit a {
  text-decoration: none;
  color: black;
  background-color: #3dd5f3;
}
.currentLocation {
  display: flex;
  position: relative;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 5px 5px auto;
  background-color: #3dd5f3;
  top: 1px;
  right: 0px;
}
.tempMeasurements.currentLocation {
  right: 0px;
}
.celsius:hover {
  background-color: black;
  color: #3dd5f3;
}
.fahrenheit:hover {
  background-color: black;
  color: #3dd5f3;
}

.fahrenheit a:hover {
  background-color: black;
  color: #3dd5f3;
}
.currentLocation:hover {
  background-color: black;
  color: #3dd5f3;
}

.weatherinfo {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
h2 {
  color: #5a6275;
  font-size: 25px;
  text-align: center;
}

h1 {
  font-size: 70px;
  text-align: center;
  top: -5px;
}

form {
  text-align: center;
  position: relative;
  margin-bottom: 5px;
}

footer {
  text-align: center;
  color: black;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Mobile devices */
@media only screen and (max-width: 600px) {
  .container {
    margin: 20px auto;
    max-width: 90%;
  }
  #search {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    flex-basis: 10%;
  }
  .current-temp {
    font-size: 50px;
  }
  .currentLocation {
    font-size: 12px;
  }
  .description {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .temp {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .weather-symbols {
    font-size: 20px;
  }
  .weatherinfo {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
  }
  .celsius,
  .fahrenheit {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }
}

/* Tablet devices */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    margin: 30px auto;
  }
  #search {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    flex-basis: 10%;
  }
  .currentLocation {
    font-size: 10px;
  }
  .current-temp {
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  .description {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .temp {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

  .weather-symbols {
    font-size: 25px;
  }
  .weatherinfo {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
  }
  .celsius,
  .fahrenheit {
    font-size: 16px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 22px;
  }
}

/* Desktop devices */
@media only screen and (min-width: 901px) {
  .container {
    margin: 50px auto;
    max-width: 800px;
  }
  .current-temp {
    font-size: 70px;
  }

  .weather-symbols {
    font-size: 30px;
  }

  .celsius,
  .fahrenheit {
    font-size: 18px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 25px;
  }
}
